<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Tentang Kami</a></li>
            <li><a href="/product">Produk</a></li>
        </ul>
    </nav>
    <h1>Welcome to the Express!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, molestiae.</p>
</body>
</html>