<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produk</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Tentang Kami</a></li>
            <li><a href="/product">Produk</a></li>
    </nav>
    <h1>Welcome to the Product Express!</h1>
    <ul>
        <li><a href="/product/laptop">Laptop</a></li>
        <li><a href="/product/handphone">Handphone</a></li>
        <li><a href="/product/printer">Printer</a></li>
    </ul>
</body>
</html>